.footer {
    background-color: #283036;
    color: white;
    margin-top: 100px;
}

footer{
    margin-left: 5%;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
}

.footer-section {
    padding: 10px;
}

.footer-section h2, .footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}
